html {
  --brave-toolbar-gradient: linear-gradient(-90deg, #2471CC 0%, #2D8EFF 100%); /* linear gradient: red500 -> magenta600 */
  --md-background-color: rgb(233, 236, 239); /* neutral200 */
  --md-loading-message-color: #5E6175; /* grey700 */
  --md-toolbar-color: rgb(45, 142, 255); /* not design system color. middle value of toolbar's linear gradient. */
}

@media (prefers-color-scheme: dark) {
  html {
    --md-background-color: rgb(30, 32, 41); /* grey900 */
    --md-loading-message-color: #C2C4CF; /* grey400 */
  }
}
